name: .NET Core CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore Backend/

    - name: Build
      run: dotnet build Backend/ --no-restore

    - name: Test
      env:
        EmailSettings__Host: "smtp.gmail.com"
        EmailSettings__Port: 587
        EmailSettings__FromEmail: "monsters.inc.verif@gmail.com"
        EmailSettings__FromName: "To-Do App"
        EmailSettings__UserName: "monsters.inc.verif@gmail.com"
        EmailSettings__Password: ${{ secrets.EMAIL_PASSWORD }}
        EmailSettings__EnableSsl: "true"
      run: dotnet test Backend/ --no-build --verbosity normal